.overall{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
}
body{
  margin: 0;
}
.main-box{
  width:396px;
  height:396px;

  border:1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
/* .outerLayer{
  width:396px;
  height:132px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border:1px solid green;
} */

.innerLayer{
  width:132px;
  height:132px;
  border:1px solid green;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.insideInner{
  width:43px;
  height:43px;
  border:1px solid yellow;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insideInner input{
  width:36px;
  height:36px;
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  text-align: center;
  border: none;
  
}
.insideInner input[type=number]::-webkit-inner-spin-button, 
.insideInner input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.insideInner input:focus{
  outline:2px solid rgb(58, 23, 0);
  background: rgb(243, 176, 176);
  border-radius: 10%;
  color:green;
  font-weight: bold;
}
.insideInner input.highlight{
  background: #c0c0df;
}


.innerLayer input.selectedComVals{
  background:#ccdfc0;
  color:green;
  
}
.innerLayer input.error{
  background: #dfa58f;
  color: red;
}

.solveButton{
  background: yellow;
  color: #835d5d;
  border: 2px solid green;
  padding: 15px;
  border-radius: 10%;
  font-weight: 600;
}